body {
    background-color: lightcoral;
}

.visible
{
	opacity:1;
	display: table;
}

.content
{
	background: rgba(0, 255, 0, 0.1);
	display:table-cell;
	vertical-align: middle;
}

#saludo h1
{
	margin-bottom:120px;
    font-family: 'Gloria Hallelujah', cursive;
}

/*******Juego******/
.Square 
{
    height:80px;
    width: 80px;
    font-size: 45pt;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.game-table 
{
    margin:0 auto;
}

#message, h2
{
    font-size: 18pt;
    font-family: 'Handlee', cursive;
}
